body{

    background-image: url('./bg2.jpg');

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}



*{

    font-family: sans-serif;

    box-sizing: 10px;

}



form {

    width: 450px;

    border: 2px solid rgb(9, 65, 110);

    padding: 30px;

    

    border-radius: 15px;

    height: 60px;
    

}





.row h2 {

    text-align: left;
    
    margin-bottom: 40px;

    color: blueviolet;

    

}



input {

    display: rgb(69, 67, 179);

    border: 2px solid rgb(45, 37, 153);

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: black;

    font-size: 18px;

    padding: 10px;
    

}





button {

    float: right;

    background: rgb(87, 79, 204);

    padding: 10px 15px;

    color: black;

    border-radius: 5px;

    margin-right: 10px;

}

button:hover{

    opacity: .7;
    background-color: slateblue;

}

.error {

    
    color: #A94442;

    padding: 10px;

    width: 95%;

    border-radius: 5px;

    margin: 2px auto;

}
select{
    background-color: rgb(251, 255, 255);
   
    padding: 5px;
    padding-top: 10px;
    float: initial;
    
}


